*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form_container{
  /* background-color: aqua; */
  width: 100%;
  display: flex;
}



.image_left{
  /* background-color: black; */
/* object-fit: fill; */
/* border: 2px solid red; */
/* outline: 2px solid blue; */
width:100vw;
height: 100vh;
/* overflow:none; */
background-repeat: no-repeat;
background-image: url(./bg1.svg);
background-size:100%;
background-position:center;
/* flex: 6; */

}
.image_right{
  /* border: 6px solid black; */
  width: 90vw;
  height:100vh;
  overflow: hidden;
  background-image: url(./bg3.svg);
background-repeat: no-repeat;
background-size:100%;
background-position:  center;

/* flex: 6; */
display: flex;
flex-direction: column;
justify-content: center;

}
.heading{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 2%;
}

.left_heading{
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.input{
  
  /* border: 1px solid violet; */
  display: flex; 
  flex-direction: column;

}
.input_container{
  /* border: 1px solid green; */
text-align: center;
display:flex;
justify-content: center;


}
.input_field{
  margin: 2%;
  padding:1% 1% ;
  width: 45%;
  background: #FFFCFC;
border: 1px solid #777777;
border-radius: 8px;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.03em;

}
.justify{
  /* border: 2px red solid; */
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.radio_text{
  padding-right: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  opacity: 0.6;

}
.radio{
  /* border: 2px red solid; */

}
/* .year{
  border:2px solid red;
} */

.btn{
  background: rgba(57, 73, 171, 0.95);
border-radius: 50px;
font-weight: 400;
font-size: 28px;
line-height: 32px;
text-align: center;
letter-spacing: -0.055em;

color: #FFFCFC;
}

@media (max-width:390px) {

  .form_container{
display: flex;
    flex-direction:column;
  }
  .input_field{
    width: 75%;
  }
  .radio_text{
    padding-right: 5px;
  }
  .left_heading{
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
  }
}